<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title>Travel Agency Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="menu">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" th:href="@{/cities}">Cities</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/airplanes}">Airplanes</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/flights}">Flights</a></li>
    </ul>
</div>
</body>
</html>

